<div class="container">
    <div class="row">
        <div class="col">
            <button type="button" (click)="goBack()" class="btn btn-lg btn-default text-right">Voltar</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 class="text-center">PERGUNTAS E RESPOSTAS</h3>

            <h6>Como faço para contratar um serviço?</h6>

            <p>Você deve selecionar a categoria e o serviço pretendido. Nesse momento, deve aparecer um mapa com a
                localização de todos os prestadores do serviço desejado mais próximos de você. Agora, é só selecionar o
                prestador mais próximo. Clicando no ícone, o prestador do serviço recebe uma mensagem instantânea, sendo
                informado que o seu serviço foi solicitado, se o prestador e você confirmarem o serviço, tanto suas
                informações quanto as do prestador, serão liberadas para verificação dos dados cadastrais. </p>

            <h6>Como utilizo o crédito?</h6>

            <p>O crédito é usado no momento em que o Cliente e o Prestador aceitarem o serviço.</p>

            <h6>Como posso pagar os créditos ou as mensalidades pelo uso do aplicativo?</h6>

            <p>Os pagamentos podem ser realizados por cartão de credito, cartão de débito e débito em conta.</p>

            <h6>Como posso participar das promoções?</h6>

            <p>Os usuários que indicarem 10 novos Clientes ganharão um crédito para usarem quando necessário, além de
                participarem de promoções ficando atentos à Tela de Propaganda/Avisos/Promoções.</p>

            <h6>Como funciona o método de qualificação?</h6>

            <p>Os usuários poderão se qualificar conforme o atendimento e serão avaliados por pontos positivo, neutro e
                negativo. <br>
                Dez pontos positivos anulam um ponto negativo. <br>
                Cinco pontos positivos anulam um ponto neutro. <br>
                Cinco pontos neutros somam um negativo. <br>
                Três pontos negativos e o cadastro do usuário será bloqueado para sempre no REPAROS.</p>

            <h6>Quem pode solicitar e prestar um serviço?</h6>

            <p>Qualquer pessoa pode usar o aplicativo, mas para enviar propostas e receber orçamentos, somente maiores
                de 18 anos devidamente cadastrados.</p>

            <p>O usuário é o único responsável pela segurança de seu login e senha. É por meio desses dados que os
                usuários podem acessar e alterar suas informações pessoais e outros dados de seu cadastro.</p>

            <p>Caso haja qualquer suspeita de uso indevido ou não autorizado de sua conta, o usuário deve notificar
                imediatamente o REPAROS.</p>

            <h6>Eu pago para solicitar um serviço?</h6>

            <p>Os usuários pagam por créditos. Os créditos são cobrados no momento em que o Cliente e Prestador
                aceitarem o serviço.</p>

            <h6>Posso denunciar um usuário ou prestador ilegal?</h6>

            <p>Qualquer pessoa pode denunciar um usuário ou um prestador ilegal. O REPAROS ficará sempre atento aos
                novos cadastros, porém, caso você veja algum cadastro que julgue Ilegal, conforme acima descrito, entre
                em contato conosco que tomaremos as devidas providências imediatamente.</p>

            <h6>Como será a divulgação do REPAROS?</h6>

            <p>A divulgação do REPAROS será feita de maneira geral em Sites Relacionados, Redes Sociais, email-market,
                propagandas impressas, além de sua participação em divulgar aos seus amigos através de sua Rede Social e
                de Boca a Boca.</p>

            <h6>Onde posso encontrar mais Informações gerais sobre o REPAROS?</h6>

            <p>Você deve acessar também a "Política de Privacidade" e "Termo de Uso".</p>

            <p>Qualquer dúvida que você tiver, é só falar com a gente no contato contato@appreparos.com</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" (click)="goBack()" class="btn btn-lg btn-default text-right">Voltar</button>
        </div>
    </div>
</div>