<div class="container">
    <div class="row">
        <div class="col">
            <button type="button" (click)="goBack()" class="btn btn-lg btn-default text-right">Voltar</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 class="text-center">TERMO DE USO</h3>

            <h5>ANTES DE UTILIZAR NOSSOS SERVIÇOS, LEIA ATENCIOSAMENTE ESTE TERMO DE USO DO REPAROS.</h5>

            <h5>AO UTILIZAR O APLICATIVO OU SERVIÇO DE QUALQUER FORMA, VOCÊ CONCORDA AUTOMATICAMENTE COM OS TERMOS DESTE
                ACORDO.
            </h5>

            <p>Este Termo de Uso apresenta as &quot;Condições Gerais&quot; aplicáveis ao
                uso dos serviços oferecidos pela VIEIRA &amp; CIA. LTDA. - ME, sociedade
                limitada, inscrita no CNPJ sob n° 18.676.879/0001-51, localizada na
                Travessa Almirante Wandenkolk, 1243, sala 1405, no bairro de Nazaré,
                na cidade de Belém capital do Estado do Pará, doravante denominada
                &quot;REPAROS”.</p>

            <p>O REPAROS é uma ferramenta que liga o usuário, Cliente ao
                Prestador de Serviços, simples assim. Para tanto, verifique se as
                informações cadastradas pelo usuário conferem com as imagens dos
                documentos que constam no cadastro.</p>

            <p>São de inteira responsabilidade do usuário as informações
                compartilhadas.</p>

            <p>O REPAROS não se responsabiliza pelas negociações realizadas,
                que fique bem claro que a responsabilidade do REPAROS termina no
                momento que as partes, Cliente e Prestador aceitarem o serviço.</p>

            <p>A proposta é reunir profissionais liberais dos mais diversos ramos,
                oferecendo todo e qualquer tipo de serviço residencial e comercial,
                desde que lícitos, e apontar os profissionais disponíveis em tempo real
                mais próximos. Para isso o aplicativo conta com mensagens
                instantâneas, calendário para agendamento, avaliação do prestador e do
                usuário, senha de segurança gerada pelo aplicativo e pagamento do
                plano de retirada de anuncio.</p>

            <p>O cadastro, tanto do Cliente quanto do prestador, tem que ser
                atualizado anualmente, sob pena de ser suspenso.</p>

            <p>Os profissionais podem se cadastrar por categorias e aptidão de
                acordo com a modalidade do serviço.</p>

            <p>Ex:</p>

            <p>Eletricista, Borracheiro, Torneiro mecânico, Mecânico de carro e moto,
                Marceneiro, Carpinteiro, Frete, Carreto, Eletro doméstico, Informática,
                Costureira, Jardineiro, Sapateiro, Esteticista, Manicure, Cabeleireira,
                Maquiados, Baby-sitter, Passador de bichos, Vidraceiros, Lavador de
                carro, Polidor de carro, Faxineiro, Office Boy, Moto Boy, Pintor, Mestre
                de obra, Servente, Garçom, Cozinheira, Churrasqueira, Bar nem, Bar-women, Lavadeira, Passadeira, Motorista e etc, e caso não tenha sua
                categoria solicite que nos cadastraremos.</p>

            <p>“A lâmpada não acende? Há infiltração na parede? O cano
                entupiu? O carro parou e etc? E agora? Chame o Reparos!”.</p>

            <h6>ALTERAÇÃO DOS TERMOS DE USO</h6>

            <p>A Empresa se reserva o direito, a seu critério, de modificar ou
                substituir o conteúdo do Termo de Uso, suspender ou descontinuar o
                serviço a qualquer momento. A responsabilidade de verificar o Termo
                de Uso periodicamente fica sobre critério dos Usuários.</p>

            <h6>REGISTRO</h6>

            <p>Qualquer pessoa pode usar o aplicativo, mas para contratar os
                serviços, somente maiores de 18 anos devidamente cadastrados.
                O usuário é o único responsável pela segurança de seu login e
                senha. É por meio desses dados que os usuários podem acessar e
                alterar suas informações pessoais e outros dados de seu cadastro.
                Caso haja qualquer suspeita de uso indevido ou não
                autorizado de sua conta, o usuário deve notificar imediatamente o
                REPAROS “Contato”.</p>

            <p>O REPAROS utiliza as informações de registro de redes
                sociais, tais como Facebook, Twitter, Contas do Google, Yahoo,
                MySpace, LinkedIn, GitHub, entre outras. O acesso a conta poderá
                ser feito digitando-se o usuário e senha nos campos de login.</p>

            <p>O REPAROS obriga-se a não utilizar as informações cadastrais
                fornecidas pelos USUÁRIOS para a realização de quaisquer
                atividades ilícitas, mas somente para aquelas expressamente
                permitidas pela legislação brasileira e/ou por este contrato.</p>

            <h6>Os USUÁRIOS concordam em:</h6>

            <ul>
                <ol>Fornecer informações verdadeiras, exatas, atuais e
                    completas quando for realizar seu cadastro para acesso ao
                    site;</ol>
                <ol>Conservar e atualizar suas informações de forma a mantê-

                    las verdadeiras, exatas, atuais e completas;</ol>
                <ol>Ser responsabilizado por qualquer informação falsa,
                    incorreta, desatualizada ou incompleta fornecida. Caso o
                    REPAROS tenha razões suficientes para suspeitar da
                    veracidade e/ou da exatidão de tais informações, terá o
                    direito de suspender ou cancelar, imediatamente e
                    independente de notificação, a conta do usuário.</ol>
            </ul>

            <h6>FUNCIONAMENTO DO NEGÓCIO</h6>

            <p>Funciona Assim:</p>
            <p>O REPAROS liga o Cliente ao Prestador de serviços, por
                isso, verifiquem se as informações cadastradas pelo usuário ou
                pelo prestador conferem com as imagens dos documentos que
                constam no cadastro.</p>
            <p>Os profissionais vão se cadastrar por modo de atendimento e
                    especialidades.</p>
            <p>Os dados cadastrados somente irão aparecer quando ambos
                (Cliente e Prestador) aceitarem o serviço solicitado.</p>
            <p>Será solicitado que tanto o Cliente assim como o Prestador
                que anexe a foto do comprovante de residência.</p>
            <p>Na hora do cadastramento poderá escolher ser: apenas
                Cliente; apenas Prestador; ou Cliente e prestador.</p>
            <p>O contato entre Cliente e Prestador será por mensagens
                instantâneas, Chat, Celular e email.</p>
            <p>Na busca de serviço, o Cliente deve selecionar o modo de
                atendimento e em seguida a especialidade do serviço pretendido e
                aparecera no mapa os ícones dos Prestadores mais próximos,
                basta apertar em cima do ícone do Prestador para solicitar o
                serviço pretendido indicando a localização, distância e o tempo
                aproximado que para chegar ao local.</p>
            <p>O aplicativo identifica as categorias e serviços disponíveis para
                cada região, cidade, município etc.</p>
            <p>O Cliente pode solicitar o serviço de imediato ou agendar
                para um dia e hora marcada. Assim, tanto o Cliente quanto o
                Prestador terão uma agenda atualizada automaticamente do
                serviço a ser realizado. Se o Prestador já tiver uma visita
                agendada para determinado horário, o seu ícone aparece na cor
                vermelha, se estiver livre, aparece na cor verde, e se estiver
                
                disponível apenas para agendamento, o ícone aparece na cor
                amarela.</p>
            <p>Será emitido um protocolo eletrônico automático, que será
                utilizado na hora que o prestador se apresentará para fazer o
                serviço.</p>
            <p>A qualificação deverá ser feita no final do negócio, poderá ser
                positiva, negativa e neutra. 10 qualificações positivas anulam 1
                negativa. 5 qualificações neutras somam 1 negativa. 5
                qualificações positivas anulam 1 neutra. Caso a empresa ou o
                cliente atingirem 3 qualificações negativas, serão automaticamente
                excluídos do aplicativo e não poderão nunca mais se cadastrar.</p>
            <p>O aplicativo tem uma página propaganda/promoções/avisos
                além de uma área onde ficam registradas todas as negociações.</p>

            <h6>PRESTAÇÃO DO SERVIÇO</h6>

            <p>Quando o Cliente selecionar o serviço desejado o Prestador
                desse serviço receberá uma mensagem instantânea, informando
                que o serviço foi solicitado, se aceitarem o convite, os dados, tanto
                do Cliente quanto do Prestador, serão liberadas para verificação
                dos dados cadastrais e nesse momento recebem um protocolo
                eletrônico automático.</p>

            <h6>VALOR DA VISITA</h6>

            <p>O Prestador de serviço coloca o Valor de seu serviço,
                sabendo que esse valor ele vai receber integral na hora que visitar
                o Cliente.</p>

            <h6>UTILIZAÇÃO DOS PLANOS</h6>

            <p>Os planos são usados caso o Cliente e ou Prestador
                quiserem retirar os anúncios por um tempo determinado.</p>

            <h6>PAGAMENTO DOS PLANOS</h6>

            <p>Os pagamentos podem ser realizados por cartão de credito,
                cartão de débito e débito em conta.</p>

            <h6>PROMOÇÃO</h6>

            <p>Os usuários deverá ficar atentos à Tela de Propaganda
                /Promoções/Avisos.</p>

            <h6>QUALIFICAÇÃO</h6>

            <p>Os usuários poderão se qualificar conforme o atendimento e serão avaliados por pontos positivo, neutro e
                negativo.
            </p>

            <p>Dez pontos positivos anulam um ponto negativo.</p>

            <p>Cinco pontos positivos anulam um ponto neutro.</p>

            <p>Cinco pontos neutros somam um negativo.</p>

            <p>Três pontos negativos e o cadastro do usuário será bloqueado para sempre no REPAROS.</p>

            <h6>PAGINA DE PROPAGANDA/AVISOS/PROMOÇÕES</h6>

            <p>O aplicativo tem uma página exclusiva para propaganda, avisos e promoções, onde chamados por pop-ups e
                por ícones no
                aplicativo os usuários são informados que existem coisas interessantes na página.</p>

            <h6>DENUNCIAR UM USUÁRIO OU PRESTADOR ILEGAL</h6>

            <p>Qualquer pessoa pode denunciar um usuário ou um prestador ilegal. O REPAROS ficará sempre atento aos
                novos cadastros,
                porém, caso você veja algum cadastro que julgue Ilegal, conforme acima descrito, entre em contato
                conosco que
                tomaremos as devidas providências imediatamente.</p>

            <h6>DIVULGAÇÃO DOS SERVIÇOS</h6>

            <p>A divulgação do REPAROS será feita de maneira geral em Sites Relacionados, Redes Sociais, email-market,
                propagandas
                impressas, além de sua participação em divulgar aos seus amigos através de sua Rede Social e de Boca a
                Boca</p>

            <h6>LEI APLICÁVEL</h6>

            <p>Este Termo de Uso é regido única e exclusivamente pelas leis brasileiras, sendo que qualquer ação
                judicial derivada
                de sua interpretação ou aplicação deverá ser julgada pelo Poder Judiciário brasileiro.</p>

            <p>Em caso de conflito de leis estaduais ou municipais, para a interpretação de qualquer dúvida ou litígio,
                deverá
                sempre prevalecer a legislação do Estado do Pará.</p>

            <p>O foro eleito para resolução de eventuais conflitos é o da cidade de Belém - Pará, com exclusão de
                qualquer outro,
                por mais privilegiado que seja.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" (click)="goBack()" class="btn btn-lg btn-default text-right">Voltar</button>
        </div>
    </div>
</div>