
<!-- Masthead -->
<header class="masthead text-white text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
          <a class="navbar-brand logo" href="#"><img
            [src]="imgLogo"></a>
      </div>
      <div class="col-md-9">
        <div class="col-lg-12 h-100 text-right my-auto redes">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="https://www.facebook.com/appreparos" target="_blank">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <!-- <li class="list-inline-item mr-3">
                  <a href="#">
                    <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                  </a>
                </li> -->
            <li class="list-inline-item">
              <a href="https://www.instagram.com/appreparos" target="_blank">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <h1 class="mb-5" style="padding: 0;">Qual é o seu objetivo profissional?</h1>
        <h4>
          Seja qual for, vamos te ajudar a alcançá-lo. <br>
          Junte-se ao time Reparos!
        </h4>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto" style="z-index: 1000 !important; margin: 2rem;">
        <a href="https://play.google.com/store/apps/details?id=aplicativos.scallop.reparos" target="_blank">
          <img src="assets/img/google-play.png">
        </a>
      </div>
    </div>
  </div>
</header>

<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-heart m-auto text-danger"></i>
          </div>
          <h3>Solução Genuinamente Paraense</h3>
          <p class="lead mb-0">Vamos movimentar o Mercado Paraense valorizando a mão de obra local.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-check m-auto text-primary"></i>
          </div>
          <h3>Sucesso Profissional e Financeiro</h3>
          <p class="lead mb-0">Nossa missão é oferecer todo o suporte necessário para que nossos profissionais alcancem o SUCESSO.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-like m-auto text-secondary"></i>
          </div>
          <h3>Segurança em Primeiro Lugar</h3>
          <p class="lead mb-0">Tanto o profissional quanto o cliente passam por uma avaliação após cada serviço completado.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Image Showcases -->
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">

      <div class="col-lg-6 order-lg-2 text-white showcase-img"
        style="background: url('assets/img/banner2.jpg') no-repeat top center; background-size: cover; border-radius: 5rem 5rem 0 5rem;"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2 class="text-primary">QUEM SOMOS</h2>
        <p>É com muito orgulho que apresentamos um aplicativo <strong class="text-primary" style="text-transform:uppercase;">Genuinamente Paraense</strong>.</p>
        <p>Hoje em dia, com a grande concorrência, sabemos o quanto é difícil para profissionais liberais conquistar um cliente e mantê-lo a longo prazo.</p>
        <p>É uma missão árdua encontrar um cliente no momento exato em que está precisando do seu serviço.</p>
        <p>Pensando nisso, o Reparos chegou para <strong class="text-primary" style="text-transform:uppercase;">SOLUCIONAR</strong> esse problema, tornando-se um <strong class="text-primary" style="text-transform:uppercase;">elo entre cliente e profissional</strong>.</p>
        <p>Nossa missão é oferecer todo o suporte necessário para que profissionais dos mais diversos ramos possam alcançar o <strong class="text-primary" style="text-transform:uppercase;">SUCESSO FINANCEIRO</strong> através da nossa Plataforma.</p>
        <p><a class="btn btn-primary btn-lg" href="https://play.google.com/store/apps/details?id=aplicativos.scallop.reparos" target="_blank">Baixar App</a></p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img"
      style="background: url('assets/img/banner3.jpg') no-repeat top center; background-size: cover; border-radius: 5rem 5rem 5rem 0;">
      </div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2 class="text-success">JUNTE-SE AO TIME REPAROS</h2>
        <p>Indo contra a realidade da crise no mercado de trabalho, <strong class="text-success" style="text-transform:uppercase;">a área de tecnologia está cada vez mais em alta</strong>.</p>
        <p>Com isso, utilizamos os recursos da TI para <strong class="text-success" style="text-transform:uppercase;">aproximar demandas de oportunidades às ofertas de mão de obra</strong>.</p>
        <p>Criamos uma estrutura com Geolocalização e Mensagens Instantâneas, onde <strong class="text-success" style="text-transform:uppercase;">CLIENTES e PROFISSIONAIS MAIS PRÓXIMOS poderão CONECTAR-SE EM TEMPO REAL</strong>.</p>
        <p>Assim, o profissional, mesmo sem sair de casa ou do seu escritório, é encontrado com rapidez pelo possível cliente exatamente quando está precisando de seus serviços, <strong class="text-success" style="text-transform:uppercase;">economizando tempo e dinheiro</strong>.</p>
        <p><a class="btn btn-success btn-lg" href="https://play.google.com/store/apps/details?id=aplicativos.scallop.reparos" target="_blank">Quero Fazer Parte</a></p>
      </div>
    </div>
    <!-- <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img"
      style="background: url('assets/img/banner4.jpg') no-repeat center center; background-size: cover; border-radius: 5rem 5rem 0 5rem;">
      </div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2 class="text-danger">PROMOÇÃO IMPERDÍVEL</h2>
        <p>Largue na frente e participe da nossa promoção, <strong class="text-danger" style="text-transform:uppercase;"> POR TEMPO LIMITADO</strong>.</p>
        <p><strong class="text-danger" style="text-transform:uppercase;">Cadastre-se agora</strong> e concorra a:</p>
        <ul>
          <li><h4 class="text-danger">1º lugar: R$ 1000</h4></li>
          <li>2º lugar: 1 ano de acesso sem propaganda.</li>
          <li>3º lugar: 6 meses de acesso sem propaganda.</li>
          <li>4º lugar: 3 meses de acesso sem propaganda.</li>
          <li>5º lugar: 1 mês de acesso sem propaganda.</li>
        </ul>
        <p>Data do sorteio: <strong class="text-danger" style="text-transform:uppercase;">29/02/2020</strong>.</p>
        <p><strong class="text-danger" style="text-transform:uppercase;">IMPORTANTE:</strong> Promoção válida apenas para profissionais.</p>
        <h4 class="text-danger" style="text-transform:uppercase;">Regras da promoção:</h4>
        <ul>
          <li>Baixar o App Reparos e realizar o cadastro completo.</li>
          <li>Manter o aplicativo instalado no celular.</li>
          <li>Curtir e marcar dois amigos no post da promoção no Instagram (www.instagram.com/appreparos).</li>
        </ul>
        <p><a class="btn btn-danger btn-lg" href="https://play.google.com/store/apps/details?id=aplicativos.scallop.reparos" target="_blank">Participar da Promoção</a></p>
      </div>
    </div> -->
  </div>
</section>

<!-- Testimonials -->
<!-- <section class="testimonials text-center bg-light">
  <div class="container">
    <h2 class="mb-5">O que nossos clientes acham...</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="assets/img/dep3.jpg" alt="">
          <h5>Lourdes Feio</h5>
          <p class="font-weight-light mb-0">"É um passeio inesquecível, além de toda a fé vivenciada, o navio passa
            muita segurança. Parabéns à equipe do Muiraquitã!!"</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="assets/img/dep1.jpg" alt="">
          <h5>Eduarda Oliveira</h5>
          <p class="font-weight-light mb-0">"Sempre achei a romaria fluvial linda, mesmo sem ter ido antes. Fui pela
            primeira vez em 2015, e além de linda, é emocionante!
            A fé que emana da pessoas, as lágrimas de gratidão, as mãos estendidas em direção a Ela nos faz começar
            aquele sábado de uma maneira muito especial.
            A receptividade, a missa e adoração a bordo e o passeio pela orla completam essa linda experiência.
            Adorei e com certeza irei no ano vem, com fé em Deus e nossa senhora de Nazaré."</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="assets/img/dep2.jpg" alt="">
          <h5>Alexandre Penha</h5>
          <p class="font-weight-light mb-0">"Faço questão de ir todos os anos. Sinto minha fé renovada a cada Romaria
            Fluvial."</p>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- Call to Action -->
<section class="call-to-action text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h2 class="mb-4">
          Baixe o App Reparos <br>e faça parte do nosso time. <br><br>
          <a href="https://play.google.com/store/apps/details?id=aplicativos.scallop.reparos" target="_blank">
            <img src="assets/img/google-play.png">
          </a>
        </h2>
        <h2 class="mb-4">Ainda tem dúvidas? Entre em contato conosco.</h2>
        <!-- <h6>Ou entre em contato através dos fones: (91) 98111-5183 / 98461-3934</h6> -->
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form (submit)="sendEmail(message)">
          <div class="form-row mg_bottom1">
            <div class="col-12 col-md-4 mb-2 mb-md-0">
              <input type="text" class="form-control form-control-lg" placeholder="Nome" name="nome"
                [(ngModel)]="message.nome" required>
            </div>
            <div class="col-12 col-md-4">
              <input type="email" class="form-control form-control-lg" placeholder="Email" name="email"
                [(ngModel)]="message.email" required>
            </div>
            <div class="col-12 col-md-4">
              <input type="text" class="form-control form-control-lg" placeholder="Telefone" name="telefone"
                [(ngModel)]="message.telefone" required>
            </div>
          </div>
          <div class="form-row mg_bottom1">
            <div class="col-12 col-md-9 mb-2 mb-md-0">
              <input type="email" class="form-control form-control-lg"
                placeholder="Sua mensagem" name="informacao" [(ngModel)]="message.informacao">
            </div>
            <div class="col-12 col-md-3">
              <button type="submit" class="btn btn-block btn-lg btn-primary">Enviar!</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- Bootstrap core JavaScript -->
<script src="assets/vendor/jquery/jquery.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>