<div class="container">
    <div class="row">
        <div class="col">
            <button type="button" (click)="goBack()" class="btn btn-lg btn-default text-right">Voltar</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 class="text-center">POLÍTICA DE PRIVACIDADE</h3>

            <h5>VEJA POR QUE SUA PRIVACIDADE ESTÁ PROTEGIDA CONOSCO.</h5>

            <p>Nós respeitamos seu direito à privacidade.Nós não daremos seu nome
                ou informações pessoais a terceiros. Seu cadastro é armazenado em um
                banco de dados protegido e sigiloso.O PAGSEGURO processará todas
                as transações do REPAROS. Ninguém tem acesso as suas informações
                de cartão de crédito, nem mesmo nós.</p>

            <h6>EMAIL</h6>

            <p>Nos comunicamos com você apenas se você quiser.Só lhe enviaremos e-
                mails relativos as suas operações pessoais e anúncios relacionados.
                Podemos enviar-lhe anúncios relacionados ao serviço em raras ocasiões
                em que seja necessário.</p>

            <h6>ALTERAÇÃO DE INFORMAÇÕES PESSOAIS</h6>

            <p>Para modificar ou excluir qualquer uma ou todas as informações
                pessoais fornecidas a nós, efetue login e atualize seu perfil.CookiesOs
                Cookies são informações enviadas pelo servidor do REPAROS ao
                computador do usuário, que auxilia na identificação de seu IP e na
                facilidade e eficiência de sua navegação, simplificando o login de
                usuários cadastrados, auxiliando na garantia de segurança e
                autenticidade dos acessos, bem como para controle interno de audiência
                e de preferências.Segurança das InformaçõesTodos os dados
                pessoais informados ao nosso site são armazenados em um banco de
                dados reservado e com acesso restrito às pessoas habilitadas, que são
                obrigadas, por contrato, a manter a confidêncialidade das informações e
                não utilizá-las inadequadamente.</p>

            <h6>ATUALIZAÇÃO DA POLÍTICA DE PRIVACIDADE</h6>

            <p>O REPAROS reserva-se o direito de atualizar sua política de privacidade
                a qualquer momento. As informações sobre as atualizações serão
                enviadas ao endereço de email fornecido ou serão colocadas em local de
                destaque do site.Esta política substitui todas as versões anteriores.
                Qualquer dúvida sobre a Política de Privacidade deve ser enviada para
                contato@appreparos.com</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" (click)="goBack()" class="btn btn-lg btn-default text-right">Voltar</button>
        </div>
    </div>
</div>